<div class="detail-back">
</br>
 <a href="/" class="btn btn-secondary">Go home </a>
{{#if data.visited}}
  <a href="/visited" class="btn btn-secondary">Back</a>
  {{/if}}
  {{#unless data.visited}}
    <a href="/wishlist" class="btn btn-secondary">Back</a>
    {{/unless}}
 
<h1 class=>{{data.name}}</h1>
</br>
<h3>Price Level: {{data.price}}</h3>
</br>
<h3>Phone: <a href="tel:{{data.phone}}">{{data.phone}}</a></h3>
</br>
<h3>Address: {{data.address}}</h3>
</br>
<h3> Link to more info! <a href="{{data.website}}">{{data.website}}</a></h3>
</br>
<h3>Comments: <p>{{data.comments}}</p></h3>
</br>
<p>Business Details Provided by the Yelp Fusion API</p>

</div>

</br>
 <a href="/edit/{{data.id}}" class="btn btn-secondary">Edit</a>

 </div>
