</br>
 <a href="/" class="btn btn-secondary">Go home </a>
<h1>{{data.name}}</h1>
</br>
<h3>Price Level: {{data.price}}</h3>
</br>
<p> Check out what other people are saying on yelp! <a href="{{data.website}}">{{data.website}}</a></p>
</br>
</br>
<div class="detail-div">
<h4>Mmmmm Yummy lol</h4>
<img class ="detail-image" src={{data.image}}>
</div>



  {{!-- let x = {
            name: info.name , 
            image: info.image_url , 
            price: info.price , 
            website: info.url

           // visited: `${Food.create(req.body.visited)}`, 
        }
        //console.log(x.visited) --}}