<h1>Details:</h1>


<p>{{data.name}}</p>
</br>
<p>{{data.website}}</p>
</br>
<p>{{data.image}}</p>
<p>{{data.location}}</p>
<p>{{data.price}}</p>


  {{!-- let x = {
            name: info.name , 
            image: info.image_url , 
            price: info.price , 
            website: info.url

           // visited: `${Food.create(req.body.visited)}`, 
        }
        //console.log(x.visited) --}}